openapi: 3.0.1
info:
  title: Azure Data Catalog Resource Provider
  description: The Azure Data Catalog Resource Provider Services API.
  version: "2016-03-30"
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png
  x-origin:
  - format: swagger
    url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datacatalog/resource-manager/Microsoft.DataCatalog/stable/2016-03-30/datacatalog.json
    version: "2.0"
  x-providerName: azure.com
  x-serviceName: datacatalog
  x-tags:
  - Azure
  - Microsoft
servers:
- url: https://management.azure.com/
paths:
  /providers/Microsoft.DataCatalog/operations:
    get:
      tags:
      - AzureDataCatalog
      description: Lists all the available Azure Data Catalog service operations.
      operationId: ADCOperations_List
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
      responses:
        200:
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationEntityListResult'
      x-ms-examples:
        Get Operations:
          parameters:
            api-version: 2016-03-30
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            200:
              body:
                value:
                - display:
                    description: Get properties for catalog or catalogs under subscription
                      or resource group.
                    operation: Catalog Read Or List
                    provider: Microsoft Data Catalog
                    resource: Catalog
                  name: Microsoft.DataCatalog/catalogs/read
                - display:
                    description: Creates catalog or updates the tags and properties
                      for the catalog.
                    operation: Create Or Update Catalog
                    provider: Microsoft Data Catalog
                    resource: Catalog
                  name: Microsoft.DataCatalog/catalogs/write
                - display:
                    description: Deletes the catalog.
                    operation: Delete Catalog
                    provider: Microsoft Data Catalog
                    resource: Catalog
                  name: Microsoft.DataCatalog/catalogs/delete
                - display:
                    description: Lists operations available on Microsoft.DataCatalog
                      resource provider.
                    operation: List Available Catalog Operations
                    provider: Microsoft Data Catalog
                    resource: Available Catalog Operations
                  name: Microsoft.DataCatalog/operations/read
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs:
    get:
      tags:
      - AzureDataCatalog
      summary: List catalogs in Resource Group (GET Resources)
      description: The List catalogs in Resource Group operation lists all the Azure
        Data Catalogs available under the given resource group.
      operationId: ADCCatalogs_ListtByResourceGroup
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      responses:
        200:
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADCCatalogsListResult'
      x-ms-examples:
        List Azure Data Catalog Service:
          parameters:
            api-version: 2016-03-30
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            200:
              body:
                value:
                - id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
                  location: North US
                  name: exampleCatalog
                  properties:
                    admins:
                    - objectId: 99999999-9999-9999-999999999999
                      upn: myupn@microsoft.com
                    enableAutomaticUnitAdjustment: false
                    sku: Standard
                    successfullyProvisioned: true
                    units: 1
                    users:
                    - objectId: 99999999-9999-9999-999999999999
                      upn: myupn@microsoft.com
                  tags:
                    mykey: myvalue
                    mykey2: myvalue2
                  type: Microsoft.DataCatalog/catalogs
              headers:
                Date: Wed, 13 Sep 2017 17:55:54 GMT
                x-ms-correlation-request-id: acdb3257-c6cb-44f1-8e14-afa3ebf471fa
                x-ms-request-id: a8bb197f-b00f-4add-a847-59f6aa0315ab
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCatalog/catalogs/{catalogName}:
    get:
      tags:
      - AzureDataCatalog
      summary: Get Azure Data Catalog service (GET Resources)
      description: The Get Azure Data Catalog Service operation retrieves a json representation
        of the data catalog.
      operationId: ADCCatalogs_Get
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: catalogName
        in: path
        description: The name of the data catalog in the specified subscription and
          resource group.
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        200:
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADCCatalog'
      x-ms-examples:
        Get Azure Data Catalog Service:
          parameters:
            api-version: 2016-03-30
            catalogName: exampleCatalog
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            200:
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
                location: North US
                name: exampleCatalog
                properties:
                  admins:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                  enableAutomaticUnitAdjustment: false
                  sku: Standard
                  successfullyProvisioned: true
                  units: 1
                  users:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                tags:
                  mykey: myvalue
                  mykey2: myvalue2
                type: Microsoft.DataCatalog/catalogs
              headers:
                Date: Wed, 13 Sep 2017 17:55:54 GMT
                x-ms-correlation-request-id: acdb3257-c6cb-44f1-8e14-afa3ebf471fa
                x-ms-request-id: a8bb197f-b00f-4add-a847-59f6aa0315ab
    put:
      tags:
      - AzureDataCatalog
      summary: Create or Update Azure Data Catalog service (PUT Resource)
      description: The Create Azure Data Catalog service operation creates a new data
        catalog service with the specified parameters. If the specific service already
        exists, then any patchable properties will be updated and any immutable properties
        will remain unchanged.
      operationId: ADCCatalogs_CreateOrUpdate
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: catalogName
        in: path
        description: The name of the data catalog in the specified subscription and
          resource group.
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        description: Properties supplied to the Create or Update a data catalog.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ADCCatalog'
        required: true
      responses:
        200:
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADCCatalog'
        201:
          description: HTTP 201 (Created) if the operation completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADCCatalog'
      x-ms-examples:
        Create Azure Data Catalog Service:
          parameters:
            api-version: 2016-03-30
            catalogName: exampleCatalog
            properties:
              location: North US
              properties:
                admins:
                - objectId: 99999999-9999-9999-999999999999
                  upn: myupn@microsoft.com
                enableAutomaticUnitAdjustment: false
                sku: Standard
                units: 1
                users:
                - objectId: 99999999-9999-9999-999999999999
                  upn: myupn@microsoft.com
              tags:
                mykey: myvalue
                mykey2: myvalue2
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            200:
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
                location: North US
                name: exampleCatalog
                properties:
                  admins:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                  enableAutomaticUnitAdjustment: false
                  sku: Standard
                  successfullyProvisioned: true
                  units: 1
                  users:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                tags:
                  mykey: myvalue
                  mykey2: myvalue2
                type: Microsoft.DataCatalog/catalogs
              headers:
                Date: Wed, 13 Sep 2017 17:55:54 GMT
                x-ms-correlation-request-id: acdb3257-c6cb-44f1-8e14-afa3ebf471fa
                x-ms-request-id: a8bb197f-b00f-4add-a847-59f6aa0315ab
            201:
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
                location: North US
                name: exampleCatalog
                properties:
                  admins:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                  enableAutomaticUnitAdjustment: false
                  sku: Standard
                  successfullyProvisioned: true
                  units: 1
                  users:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                tags:
                  mykey: myvalue
                  mykey2: myvalue2
                type: Microsoft.DataCatalog/catalogs
              headers:
                Date: Wed, 13 Sep 2017 17:55:54 GMT
                x-ms-correlation-request-id: acdb3257-c6cb-44f1-8e14-afa3ebf471fa
                x-ms-request-id: a8bb197f-b00f-4add-a847-59f6aa0315ab
      x-codegen-request-body-name: properties
    delete:
      tags:
      - AzureDataCatalog
      summary: Delete Azure Data Catalog Service (DELETE Resource)
      description: The Delete Azure Data Catalog Service operation deletes an existing
        data catalog.
      operationId: ADCCatalogs_Delete
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: catalogName
        in: path
        description: The name of the data catalog in the specified subscription and
          resource group.
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      responses:
        200:
          description: OK. An existing annotation was updated.
          content: {}
        202:
          description: Accepted. Delete is asynchronous. In this case, the caller
            needs to read the Location header for an URL to poll. That URL will continue
            to return 202 until the operation is complete. When it stops returning
            202, the response it gives back is the result of the DELETE operation.
          content: {}
        204:
          description: No Content (didn't exist).
          content: {}
      x-ms-examples:
        Delete Azure Data Catalog Service:
          parameters:
            api-version: 2016-03-30
            catalogName: exampleCatalog
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            200: {}
            202: {}
            204: {}
      x-ms-long-running-operation: true
    patch:
      tags:
      - AzureDataCatalog
      summary: Update Azure Data Catalog Service (PATCH Resource)
      description: The Update Azure Data Catalog Service operation can be used to
        update the existing deployment. The update call only supports the properties
        listed in the PATCH body.
      operationId: ADCCatalogs_Update
      parameters:
      - name: api-version
        in: query
        description: Client Api Version.
        required: true
        schema:
          type: string
      - name: subscriptionId
        in: path
        description: Gets subscription credentials which uniquely identify the Microsoft
          Azure subscription. The subscription ID forms part of the URI for every
          service call.
        required: true
        schema:
          type: string
      - name: resourceGroupName
        in: path
        description: The name of the resource group within the user's subscription.
          The name is case insensitive.
        required: true
        schema:
          maxLength: 90
          minLength: 1
          pattern: ^[-\w\._\(\)]+$
          type: string
          x-ms-parameter-location: method
        x-ms-parameter-location: method
      - name: catalogName
        in: path
        description: The name of the data catalog in the specified subscription and
          resource group.
        required: true
        schema:
          type: string
          x-ms-parameter-location: client
        x-ms-parameter-location: client
      requestBody:
        description: Properties supplied to the Update a data catalog.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ADCCatalog'
        required: true
      responses:
        200:
          description: HTTP 200 (OK) if the operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ADCCatalog'
      x-ms-examples:
        Update Azure Data Catalog Service:
          parameters:
            api-version: 2016-03-30
            catalogName: exampleCatalog
            properties:
              location: North US
              properties:
                admins:
                - objectId: 99999999-9999-9999-999999999999
                  upn: myupn@microsoft.com
                enableAutomaticUnitAdjustment: false
                sku: Standard
                units: 1
                users:
                - objectId: 99999999-9999-9999-999999999999
                  upn: myupn@microsoft.com
              tags:
                mykey: myvalue
                mykey2: myvalue2
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            200:
              body:
                id: /subscriptions/12345678-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataCatalog/catalogs/exampleCatalog
                location: North US
                name: exampleCatalog
                properties:
                  admins:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                  enableAutomaticUnitAdjustment: false
                  sku: Standard
                  successfullyProvisioned: true
                  units: 1
                  users:
                  - objectId: 99999999-9999-9999-999999999999
                    upn: myupn@microsoft.com
                tags:
                  mykey: myvalue
                  mykey2: myvalue2
                type: Microsoft.DataCatalog/catalogs
              headers:
                Date: Wed, 13 Sep 2017 17:55:54 GMT
                x-ms-correlation-request-id: acdb3257-c6cb-44f1-8e14-afa3ebf471fa
                x-ms-request-id: a8bb197f-b00f-4add-a847-59f6aa0315ab
      x-codegen-request-body-name: properties
components:
  schemas:
    ADCCatalog:
      description: Azure Data Catalog.
      allOf:
      - $ref: '#/components/schemas/Resource'
    ADCCatalogProperties:
      type: object
      properties:
        admins:
          type: array
          description: Azure data catalog admin list.
          items:
            $ref: '#/components/schemas/Principals'
        enableAutomaticUnitAdjustment:
          type: boolean
          description: Automatic unit adjustment enabled or not.
        sku:
          type: string
          description: Azure data catalog SKU.
          enum:
          - Free
          - Standard
          x-ms-enum:
            modelAsString: true
            name: SkuType
        successfullyProvisioned:
          type: boolean
          description: Azure data catalog provision status.
        units:
          type: integer
          description: Azure data catalog units.
        users:
          type: array
          description: Azure data catalog user list.
          items:
            $ref: '#/components/schemas/Principals'
      description: Properties of the data catalog.
    ADCCatalogsListResult:
      type: object
      properties:
        value:
          type: array
          description: the list of Azure Data Catalogs.
          items:
            $ref: '#/components/schemas/ADCCatalog'
      description: The response from the List Azure Data Catalog operation.
    OperationDisplayInfo:
      type: object
      properties:
        description:
          type: string
          description: The description of the operation.
        operation:
          type: string
          description: The action that users can perform, based on their permission
            level.
        provider:
          type: string
          description: 'Service provider: Azure Data Catalog Service.'
        resource:
          type: string
          description: Resource on which the operation is performed.
      description: The operation supported by Azure Data Catalog Service.
    OperationEntity:
      type: object
      properties:
        display:
          $ref: '#/components/schemas/OperationDisplayInfo'
        name:
          type: string
          description: 'Operation name: {provider}/{resource}/{operation}.'
      description: The operation supported by Azure Data Catalog Service.
    OperationEntityListResult:
      type: object
      properties:
        value:
          type: array
          description: The list of operations.
          items:
            $ref: '#/components/schemas/OperationEntity'
      description: The list of Azure data catalog service operation response.
    Principals:
      type: object
      properties:
        objectId:
          type: string
          description: Object Id for the user
        upn:
          type: string
          description: UPN of the user.
      description: User principals.
    Resource:
      type: object
      properties:
        etag:
          type: string
          description: Resource etag
        id:
          type: string
          description: Resource Id
          readOnly: true
        location:
          type: string
          description: Resource location
          x-ms-mutability:
          - create
          - read
        name:
          type: string
          description: Resource name
          readOnly: true
        tags:
          type: object
          additionalProperties:
            type: string
          description: Resource tags
        type:
          type: string
          description: Resource type
          readOnly: true
      description: The Resource model definition.
      x-ms-azure-resource: true
  parameters:
    ApiVersionParameter:
      name: api-version
      in: query
      description: Client Api Version.
      required: true
      schema:
        type: string
    CatalogNameParameter:
      name: catalogName
      in: path
      description: The name of the data catalog in the specified subscription and
        resource group.
      required: true
      schema:
        type: string
        x-ms-parameter-location: client
      x-ms-parameter-location: client
    ResourceGroupNameParameter:
      name: resourceGroupName
      in: path
      description: The name of the resource group within the user's subscription.
        The name is case insensitive.
      required: true
      schema:
        maxLength: 90
        minLength: 1
        pattern: ^[-\w\._\(\)]+$
        type: string
        x-ms-parameter-location: method
      x-ms-parameter-location: method
    SubscriptionIdParameter:
      name: subscriptionId
      in: path
      description: Gets subscription credentials which uniquely identify the Microsoft
        Azure subscription. The subscription ID forms part of the URI for every service
        call.
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth2 Flow
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
